@-moz-document domain("twitter.com") {

body {
  font-family: "ProggyTinySZ" !important;
  background: #272727 !important;
  color: #dcdcdc !important;
  line-height: 18px !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}

/*Colours*/

/*dcdcdc*/
.js-tweet-text{
  color: #dcdcdc !important;
}
.username, js-action-profile-name{
  color: #dcdcdc !important;
}
.icon{
  background-color: #dcdcdc !important;
}
p, .js-tweet-text, .tweet-text{
  color: #dcdcdc !important;
}
input, textarea, div[contenteditable="true"], select {
  background-color: #dcdcdc !important;
}
#tweet-box-global{
  color: #dcdcdc !important;
}
.dropdown-menu li > a, .dropdown-menu .dropdown-link {
  color: #dcdcdc !important;
}
.view-more-link{
  color: #dcdcdc !important;
}
h3, .modal-title{
  color: #dcdcdc !important;
}
.tweet .sm-reply, .tweet .sm-rt, .tweet .sm-fav, .tweet .sm-image, .tweet .sm-video, .tweet .sm-audio, .tweet .sm-geo, .tweet .sm-in, .tweet .sm-trash, .tweet .sm-more, .tweet .sm-page, .tweet .sm-embed, .tweet .sm-summary, .tweet .sm-chat, .timelines-navigation .active .profile-nav-icon, .timelines-navigation .profile-nav-icon:hover, .timelines-navigation .profile-nav-link:focus .profile-nav-icon, .sm-top-tweet, .metadata a.tweet-geo-text:hover .sm-geo, .discover-item .js-action-card-search:hover .sm-search, .discover-item .js-action-card-search:focus .sm-search {
  background-color: #dcdcdc !important;
}
#tweet-box-template{
  color: #dcdcdc !important;
}
.stream-end-inner{
  color: #dcdcdc !important;
  border-radius: 0px 0px 0px 0px !important;
}
.tweet-form.condensed .tweet-box {
  color: #dcdcdc !important;
}
.flex-module{
  border-bottom: 0px solid #dcdcdc !important;
}
#tweet-box-dm-conversation, .tweet-box.rich-editor{
  color: #dcdcdc !important;
}
.global-nav .well, .nav .active > a, .btn-tweet, .btn-tweet:hover, .btn-tweet:active, .nav .active > a, .card-soccer .cover{
  background-image: url(http://i.imgur.com/mjIkcPB.png) !important;
  color: #dcdcdc !important;
}
s{
  color: #dcdcdc !important;
}
.activity-supplement{
  color: #dcdcdc !important;
}
.twitter-timeline-link{
  color:#dcdcdc !important;
}
#user_screen_name{
  color: #dcdcdc !important;
}
#user_email, .email-input{
  color: #dcdcdc !important;
}
.checkbox, .control-label{
  color: #dcdcdc !important;
}
#export_button, .btn{
  color: #dcdcdc !important;
}
#settings_save, .btn, primary-btn{
  color: #dcdcdc !important;
}
b, .fullname{
  color: #dcdcdc !important;
}

/*#272727*/
.dropdown-caret, .caret-inner{
  border-bottom: 6px solid #272727 !important;
}
.profile-card.profile-header .stats a {
  border-left: 0px solid #272727 !important;
}
#tweet-box-dm-conversation, #user_time_zone, .modal-footer, .module, .profile-card, .profile-banner-footer, .clearfix, .stats, .a, .flex-module, .tweet, .new-tweets-bar, .activity-supplement, .dm-dialog, .container, .nav, .active a, .global-nav, .btn-tweet, .btn, #tweet-box-global, .modal-close:hover, .modal-close, .modal-header, .modal-body, .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu, .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .selected a, .dropdown-menu .dropdown-link .selected, .stream-item-activity-line, .twttr-dialog-header, .wrapper, .view-more-container, .stream-item-activity-me, .dm-dialog, .tweet-form.condensed, .tweet-box, #tweet-box-template, .stream-end-inner, .recent-tweets, li:first-child, .tweet, .twttr-dialog-footer, #user_screen_name, #user_email, .email-input, .content-inner, .no-stream-end,  .account, .js-actionable-user, .js-profile-popup-actionable, .tweet-box.rich-editor, .twttr-dialog-inside, .inline-reply-tweetbox, .follow-bar, .dm-tweetbox, .tweet-form, .dm-convo, .dm-tweetbox, .tweet-form, .dm-threads, .icon, .lock-large{
  background: #272727 !important;
}
.btn{
  border-color: #272727 !important;
}
.following-text action-text, .js-action-follow.follow-text.action-text, .follow-btn, .btn.js-combo-btn.js-recommended-item, .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected{
  background-image:-moz-linear-gradient(center top, #272727, #272727) !important;
}

/*#202020*/
#tweet-box-dm-conversation, .tweet-box.rich-editor, .dm-message{
  border: 1px solid #202020 !important;
}

/*#353535*/
#tweet-box-global, .dm-thread-link:hover, .dm-message{
  background: #353535 !important;
}

/*Highlight Colours*/
.new-tweets-bar, .nav, a, .btn-link, .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected, .btn-link:focus, .pretty-link b, .pretty-link:hover s, .pretty-link:hover b, .pretty-link:focus s, .pretty-link:focus b, .metadata a:hover, .metadata a:focus, .account-group:hover .fullname, .account-group:focus .fullname, .account-summary:focus .fullname, .stats a:hover, .stats a:hover strong, .stats a:focus, .stats a:focus strong, .profile-modal-header .fullname a:hover, .profile-modal-header .username a:hover, .profile-modal-header .fullname a:focus, .profile-modal-header .username a:focus, .story-article:hover .metadata, .story-article .metadata a:focus, .find-friends-sources li:hover .source, .stream-item a:hover .fullname, .stream-item a:focus .fullname, .stream-item .view-all-supplements:hover, .stream-item .view-all-supplements:focus, .tweet .time a:hover, .tweet .time a:focus, .tweet-actions a, .tweet .details.with-icn b, .stream-item:hover .original-tweet .expand-action-wrapper, .stream-item .original-tweet.focus .expand-action-wrapper, .opened-tweet.original-tweet .expand-action-wrapper, .stream-item:hover .original-tweet .details b, .stream-item .original-tweet.focus .details b, .stream-item.open .original-tweet .details b, .simple-tweet:hover .details b, .simple-tweet.focus .details b, .simple-tweet.open .details b, .simple-tweet:hover .details .expand-action-wrapper, .simple-tweet.focus .details .expand-action-wrapper, .simple-tweet.open .details .collapse-action-wrapper, .simple-tweet:hover .details .simple-details-link, .simple-tweet.focus .details .simple-details-link, .client-and-actions a:hover, .client-and-actions a:focus, .dismiss-promoted:hover b, .tweet .context .pretty-link:hover s, .tweet .context .pretty-link:hover b, .tweet .context .pretty-link:focus s, .tweet .context .pretty-link:focus b, .list .username a:hover, .list .username a:focus, .list-membership-container .create-a-list, .list-membership-container .create-a-list:hover, .story-header:hover .view-tweets, .card .list-details a:hover, .card .list-details a:focus, .card .card-body:hover .attribution, .card .card-body .attribution:focus, .events-card .card-body:hover .attribution, .events-card .card-body .attribution:focus, .new-tweets-bar, .onebox .soccer ul.ticker a:hover, .onebox .soccer ul.ticker a:focus, .discover-item-actions a, .remove-background-btn, .stream-item-activity-me .latest-tweet .tweet-row a:hover, .stream-item-activity-me .latest-tweet .tweet-row a:focus, .stream-item-activity-me .latest-tweet .tweet-row a:hover b, .stream-item-activity-me .latest-tweet .tweet-row a:focus b, .active a{
  color: #B0B0FF !important;
}
.actions, .js-actions a, span{
  color: #D7B0FF !Important
}
.tweet b{
  color: #B0B0FF !Important
}
strong{
  color: #FEB0FF !important;
}

/*Misc*/
.dropdown-caret, .caret-inner{
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
}
.modal-content{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(255, 255, 255, 0.) inset !important;
}
.js-timeline-title, .header-inner{
  display:none !important;
}
.social-proof{
  border-top: 0px !important;
  text-transform: capitalize !important;
}
.mini-profile-footer{
  border-bottom: 0px !important;
}
hr{
  display:none !important;
}
.modal-footer{
border-top :0px solid !important;
}
.go-to-profile{
  border-top: 0px !important;
}
#user_time_zone{
  border: 0px solid  !important;
}
.dashboard, .tweet-box-title, #tweet-box-profile, .h2, .recent_photos, .media-thumbnails{
  display: none !important;
}
.profile-card.profile-header .stats a {
  text-transform: capitalize !important;
}
.profile-header{
  border-radius: 0px 0px 0px 0px !important;
}
.tweet {
  border-top: 0px !important;
}
.stats, a {
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
}
.inline-reply-tweetbox{
  border: 0px !important;
}
.twttr-dialog-inside{
  border-radius: 0px 0px 0px 0px !important;
}
.replies, .view-more-container{
  border-top: 0px solid !important;
}
a, .btn-link, .btn-link:focus{
  font-family: "ProggyTinySZ" !important;
} 
.follow-bar{
  border-bottom: 0px solid !important;
}
.dm-thread-link{
  border-bottom: 0px solid !important;
}
.btn {
  font-weight: normal !important;
  text-transform: capitalize !important;
}
.h3 {
  font-weight: normal !important;
}
.recent-tweets .tweet {
  min-height: 32px !important;
  border-bottom: 0px none !important;
  border-top: 0px solid !important;
  border-radius: 0px 0px 0px 0px !important;
}
.dm-tweetbox, .tweet-form{
  border-top: 0px solid !important;
  box-shadow: 0px 0px 0px !important;
}
.dm-message{
  border-radius: 0px 0px 0px 0px !important;
  box-shadow: 0px 0px 0px !important;
}
.dm-thread-link:hover{
  border-bottom: 0px solid !important;
}
.twttr-dialog-header h3 {
  font-size: 12px !important;
}
body.ms-windows, body.ms-windows label, body.ms-windows input, body.ms-windows textarea, body.ms-windows select, body.ms-windows button {
  font-family: "ProggyTinySZ" !important;
}
.content-inner, .no-stream-end{
  border-left: 0px !important; 
  border-right: 0px !important;
  border-bottom: 0px !important;  
  border-top: 0px !important;  
}
#settings_save, .btn, primary-btn{
  opacity: 1 !important;
}
.twttr-dialog-footer{
  text-shadow: 0px 0px 0px !important;
  box-shadow: 0px 0px 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  border-top: 0px solid !important;
}
.content-main, .in-reply-to, .tweet {
  border-bottom: 0px solid !important;
}
#profile_popup .go-to-profile {
  border-top: 0px solid !important;
}
h3, .modal-title{
  font-weight: normal !important;
  text-shadow: none !important;
  text-transform: capitalize !important;
  width: 100%
}
.stream-end-inner{
  border-radius: 0px 0px 0px 0px !important;
}
input, textarea, div[contenteditable="true"], select {
  border: 0px solid  !important;
  border-radius: 0px 0px 0px 0px !important;
}
input, textarea, div[contenteditable="true"] {
  box-shadow: 0px 0px 0px !important;
}
.stream-item-activity-me {
  border-bottom: 0px solid !important;
}
.wrapper{
  background-image: none !important;
}
.stream-item-activity-line{
  border-bottom: 0px solid !important;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected {
  font-weight: normal !important;
}
.js-dm-dialog{
  font-weight: normal !important;
}
.replies-to{
  padding-top: 0px !important;
  border-top: 0px solid !important;
}
.modal-body{
  border-radius: 0px 0px 0px 0px !important;
}
.modal-header{
  border-radius: 0px 0px 0px 0px !important;
  box-shadow: 0px 0px 0px inset !important;
  border-bottom: 0px solid !important;
}
.modal-close{
  border-left: 0px solid !important;
  border-radius: 0px 0px 0px 0px !important;
  box-shadow: 0px 0px 0px inset !important;
}
#tweet-box-global{
  box-shadow: 0px 0px 0px inset !important;
}
.tweet-counter{
  text-shadow: 0px 0px 0px !important;
}
.topbar{
  box-shadow: none !important;
}
.btn{
  cursor: pointer !important;
  box-shadow: 0px 0px 0px !important;
  background-image: none !important;
  box-shadow: 0px 0px 0px!important;
  text-shadow: 0px 0px 0px !important;
}
.btn-tweet{
  border: none !important;
}
div#page-container.wrapper{
width: 522px !important;
}
.global-nav{
  box-shadow: 0px 0px 0px !important;
}
.text{
  font-weight: normal !important;
  line-height: 1 !important;
  text-shadow: 0px 0px 0px !important;
}
.avatar{
  border-radius: 0px 0px 0px 0px !important;
}
.nav, .active a{
  box-shadow: none !important;
}  
i, .icon{
  background-image: url(http://i.imgur.com/LNe1ERP.png) !important;
}
.account, .interest-category, .list, .saved-search, .tweet, .app{
  border-bottom: none !important
}
strong{
  font-weight: normal !important;
}
.following-text action-text, .js-action-follow.follow-text.action-text, .follow-btn, .btn.js-combo-btn.js-recommended-item{
  border-radius: 0px !important;
  text-transform: capitalize !important;
}
.fullname{
  font-weight: normal !important;
}
.actions, .js-actions{
  background: none !important;
}
.tweet { 
  border-bottom: 0px !important; 
  border-top: 0px !important;
  border-radius: 0px !important;
 
  }
.new-tweets-bar{
  border-bottom: 0px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;  
  border-top: 4px !important;
  text-shadow: 0px 0px 0px !important;
  
  position: static !important;
}
.stream-item{ 
  border-bottom: 0px !important;
  border-top: 0px !important;
}
.module, .profile-card, .profile-banner-footer, .clearfix, .stats, .a, .flex-module{
  text-transform: lowercase !important;
  text-shadow: 0px 0px 0px !important;
}
.front-signin{
  position:fixed !important;
  top:39% !important;
  left:37.3% !important;
  background: none !important;
}
.front-card{
  position:fixed;
  width:300px !important;
  height:300px !important;
  margin:-300px 0 0 -165px !important;
  background-image:url(https://twitter.com/images/resources/twitter-bird-dark-bgs.png) !important;
}
.global-nav{
  background-image: none !important;
  box-shadow: none;
}
.front-welcome, .front-signup, .front-bg, .footer, .trends-container, .profile-summary, .home-tweet-box, .profile-header-inner, .search-input, .search-icon, .list-link, .mini-profile, .account-summary, .trends, .larry-topbar, i.topbar-divider, .js-wtf-module, .site-footer,.bird-topbar-etched,#user-dropdown-toggle span.caret,li.profile i.nav-me,
#user-dropdown li.dropdown-divider,.dropdown-menu li.current-user, .nav-topics{
  display:none !important;  
}
}